apiVersion: external-secrets.io/v1beta1
kind: ClusterSecretStore
metadata:
  name: oci-store
  namespace: default
spec:
  provider:
    oracle:
      # principalType defaults to InstancePrincipal
      # Source: https://external-secrets.io/latest/provider/oracle-vault/
      vault: ocid1.vault.oc1.eu-frankfurt-1.ent2jo5iaahka.abtheljtgxujfmiyzygz4iwx66ejodpa4trbxp336byehewmcchxa6d7b3xa
      region: eu-frankfurt-1
